/*! NOTE: These are just recommended default global styles, edit as required */

::selection { /* Optional */
  /* It can be really hard to read highlighted text with a text-shadow, it should be removed when selected */
  text-shadow: none;
  
  /* NOTE: Using this means the color and background-color are set to transparent for selected text... */
  /* So you can customise your styles below */
  color: var(--selection-text-color);
  background-color: var(--selection-background-color);
}

html {
  font-size: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth; /* Smoothly animate to different sections within a page, only if the user doesn't mind animations */
  }
}

*,
*::before,
*::after,
html {
  /* Declare your box-sizing here
  /* https://css-tricks.com/box-sizing */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* outras opções - content-box */
}

body {
  /* Declare your default font stack here */
  font-family: "Font Stack", sans-serif, serif, monospace, cursive, fantasy;
  /* outras opções - serif, monospace, cursive, fantasy */

  /* Better text rendering - font-smoothing has not been officially declared, but can still be useful */
  text-rendering: geometricPrecision;
  /* outras opções -optimizeLegibility | optimizeSpeed */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  /* For responsive images that adjust & adapt */
  height: auto;
  max-width: 100%;
  
  /* This isn't needed, but as a user, I get frustrated when I highlight text and the image gets highlighted too */
  user-select: none;
}

button {
  color: inherit; /* By default, buttons don't inherit the font colour, this is a useful default to override */
}

a, button {
  touch-action: manipulation; /* Element doesn't want double-tap on mobile to zoom */
}

svg {
  /* Make the SVGs fit the parent container by default */
  height: 100%;
  width: 100%;
  
  /* Optional - make the SVG's fill be the same as the inherited color */
  fill: currentColor;
  
  /* Prevent the SVG from altering cursor interaction */
  pointer-events: none;
}

iframe, video {
  /* Make iframes & videos fit the parent container by default */
  height: 100%;
  width: 100%
}

/**************************************************
***************************************************
*** O SEU CÓDIGO COMEÇA DEPOIS DESTE COMENTÁRIO ***
***************************************************
***************************************************/

/* ======Variable CSS====== */
:root {
    --header-height: 4rem;

    /* Colours */
    --background-color: #0F172A;
    --primary-color: #F1F5F9;
    --secondary-color: #94A3B8;
    --link-color: #38BDF8;
    --link-hover-color: #7DD3FC;
    --selection-background-color: #1E3A8A;
    --selection-text-color: #F8FAFC;
    --black-color: #171C26;
    --white-color: #FFFFFF;

    /* Font Weight */
    --font-regular: 400;
    --font-bold: 800;

    /*Z Index*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Space Mono', Arial, sans-serif, monospace;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Space Grotesk', Verdana, sans-serif, monospace;
}

p {
  font-size: 16px;
}

small {
  font-size: 0.875rem;
}

strong {
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover, a:active, a.active {
  color: var(--secondary-color);
}

/* Utilizando tags
body header, body main, body footer {
 width: 100%;
 max-width: 1680px;
 margin: 0 auto;
 padding: 0 16px;
}
 */

/* Utilizando id
#topHeader, #mainContent, #mainFooter {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 16px;
}
*/

/* Utilizando classes */
.pageWidth {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Espaçar elementos */


/* ======Definição de font para mobile====== */
h1 {
  font-size: 1.476rem;
  font-weight: 400;
  line-height: 1.5;
}

h2 {
  font-size: 1.383rem;
  font-weight: 300;
  line-height: 1.15;
}

h3 {
  font-size: 1.296rem;
  font-weight: 200;
  line-height: 1;
}

/* ======Definição de font para desktop====== */
@media (min-width: 992px) {

h1 {
  font-size: 2.986rem;
  color: var(--primary-color);
}

h2 {
  font-size: 2.488rem;
  color: var(--secondary-color);
}

h3 {
  font-size: 2.074rem;
  color: var(--secondary-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: var(--link-hover-color);
}
}

/* utilidades */
.text_center{
  text-align: center;
}

.white_text{
  color: var(--white-color);
}

/* ======Menu de Navegação====== */

/* ======Header====== */
#topHeader {
  position: fixed; /* fixo no scroll */
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: var(--header-height);
  background-color: var(--background-color); 
  box-shadow: 0 4px 8px var(--link-hover-color);
  z-index: var(--z-fixed);
}

#mainMenu {
    height: var(--header-height);
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

.nav__toggle {
  margin-left: auto;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
  width: max-content;
  height: max-content;
}

.nav__burger, .nav__close {
  color: var(--primary-color);
}

.navAction {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#headerLogo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
}

#headerLogo a{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--primary-color);
}

#headerLogo a:hover {
  color: var(--link-hover-color);
}

#headerLogo img {
width: 3rem;
margin-right: 1rem;

}

.nav__burger, .nav__close {
  width: max-content;
  height: max-content;
  margin: 0;
  font-size: 1.5rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
  transform-origin: center;
}

.nav__close {
  opacity: 0;
}

@media screen and (max-width: 992px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 4rem;
    width: 100%;
    height: calc(100vh - 4rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: height .4s, opacity .3s;
    background-color: var(--background-color);
  }
.nav__menu::-webkit-scrollbar {
  width: 0;
  }

  .nav__link:hover {
    background-color: var(--selection-background-color);
    color: var(--primary-color);
  }

  .nav__link.active {
    color: var(--secondary-color);
  }

  .nav__link.active:hover {
    color: var(--secondary-color);
    background-color: var(--selection-background-color);
  }

  /*.nav__list {
  padding-top: 1rem;
  }*/
}

.nav__link {
  color: var(--primary-color);
  background-color: transparent;
  font-weight: var(--font-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s; 
}

/* ======Show Menu====== */

.show-menu {
  opacity: 1;
  top: 4rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/* Navigation for large devices */
@media screen and (min-width: 992px) {
  #topHeader {
    margin-inline: auto;
  }

  #mainMenu {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 4rem;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 4rem;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }
}

/* ======main Content====== */
#mainContent {
  margin-top:var(--header-height)!important;
  flex: 1;
}

@media screen and (min-width: 992px) {
  #mainContent {
    margin-top: calc(var(--header-height)+2rem);
  }
}

/* ======Hero Section for project page====== */
.banner-container {
  display: flex;
justify-content: space-between;
}
.left-hero {
  width: 55%;
  z-index: var(--z-tooltip);  
}

.right-hero {
  width: 45%;
  position: relative;
}

/* Navigation for mobile/tablet devices para página de projetos */
@media screen and (max-width: 992px) {
  .left-hero {
    width: 100%;
  }

  .right-hero {
    display: none;
  }
}

h1.heading-text {
    color: var(--primary-color);
    margin: 5rem 5.5rem 2rem 0;
}

h1.heading-text span {
    color: var(--secondary-color)
}

p.description {
    color:var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

.banner-container:last-child {
    margin-top: 5rem;
}

.banner-container .right-hero img {
  max-width: 100%;
  height: auto;
  display: block;
  position: relative;
  right: auto;
}

/* ======cards====== */
.container {
  --gap: 0;
  padding: 2rem;
}

.flex {
  display: flex;
  gap: var(--gap, 1em)
}

.box_shadow {
  box-shadow: 3px 3px 15px 2px var(--black-color);
}

.border_radius {
  border-radius: 8px;
}

.flex-column {
  flex-direction: column;
margin-left: auto;
}

/* ======Definir as background-colors====== */
.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

/* ======articles - estilo do card====== */
.container article:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.container article:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.container article {
  --gap: 2rem;
  line-height: 1.5;
  padding: 3em;
}

.container article > img {
  width: 500px;

}

/* ======botões====== */
.learn-more-button {
  background-color: var(--selection-background-color);
  border: none;
  border-radius: 40px;
  letter-spacing: 1px;
  padding-block: .79em;
  padding-inline: 2.3em;
  margin: auto;
  margin-top: 3em;
  transition: var(--background-color) 200ms ease-in-out;
}

/* ======main Footer====== */
#mainFooter {
  padding: 20px;
  text-align: center;
}

/* ======Página de contactos====== */
/* ======Cards de contacto======*/
#cards-contact .flex {
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
  max-width: 1000px;
}

/* ======Ícones====== */
.contact-icon {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

/* ======Estilo para cards====== */
.contact-card {
  padding: 2rem;
  flex: 0 1 250px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid var(--link-hover-color);
  box-shadow: 0 4px 8px var(--link-hover-color);
}

.contact-card h2 {
  color: var(--primary-color);
  font-weight: 400;
  margin-bottom: 1rem;
}

.contact-card a {
  color: var(--link-color);
  text-decoration: underline;
  word-break: break-word;
}

.contact-card a:focus {
  outline: 2px solid var(--link-color);
  outline-offset: 2px;
}

.contact-card a:hover {
  color: var(--link-hover-color);
}


/* ======Navigation for mobile/tablet devices====== */
@media (max-width: 992px) {
  .contact-icon {
    font-size: 2rem;
  }
  
  .contact-card {
    padding: 1.5rem;
    flex: 0 1 100%;
    min-height: 200px;
  }
  
  .contact-card h2 {
    font-size: 1.3rem;
  }
}